//Sizes
$size-em-1: 0.5em;
$size-em-2: 1em;
$size-em-3: 1.5em;
$size-em-4: 2em;

$size-pec-1: 8.33%;
$size-pec-2: 16.66%;
$size-pec-3: 25%;
$size-pec-4: 33.33%;
$size-pec-5: 41.66%;
$size-pec-6: 50%;
$size-pec-7: 58.33%;
$size-pec-8: 66.66%;
$size-pec-9: 75%;
$size-pec-10: 83.33%;
$size-pec-11: 91.66%;
$size-pec-12: 100%;
//Sizes

//colors
$bg-primary: rgb(021, 032, 043);
$bg-black:  rgb(000, 000, 000);
$border-primary: rgb(056, 068, 077);
//colors